<header class="header">
  <div class="container">
    <div class="header__container">
      <nav class="header__navigation">
        <a href="/" class="header__link">Feed</a>
      </nav>
      <div class="contolPanel" id="header__controlPanel"></div>
    </div>
  </div>
</header>